{% extends "core/base.html" %}
<!-- {# Loading the template tag #} -->

{% block body %}
    {% if file %}
    <div class="media text-muted pt-3">
        <a href="/media/{{file.file}}">
            <img src="/static/core/img/file.png" style="width:35px; height:35px;" alt="" class="mr-2 rounded">
        </a>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">{{file.name}}</strong>
        @{{file.username}}
        <br/><br/>
        {{file.desc}}
        </p>

    </div>
    {% else %}
        <div class="alert alert-danger" > Either you don't have access to File with the ID or there is no File with the ID. Try again </div>
    {% endif %}
    <!-- {# Render all the comments belong to the passed object "obj" #} -->
    {% if file %}
    
    {% endif %}
{% endblock %}