{% extends "core/base.html" %}
{% load static %}

{% block body %}
<div class="my-3 p-3 bg-white rounded box-shadow" id="">
  <h6 class="border-bottom border-gray pb-2 mb-0">Share with me</h6>
  <div id=filesplace>

  </div>
  <small class="d-block text-right mt-3">
    <a id="morefiles" href="javascript:;"  data-url="/api/files/" onclick="sharedwithme(this)">More Files</a>
  </small>
</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">My files</h6>
  <div id="myfiles">

  </div>
  
  <small class="d-block text-right mt-3">
    <a id="moremyfiles" href="javascript:;"  data-url="/api/files/myfiles/" onclick="myfiles(this)">More Files</a>
  </small>
</div>
{% endblock %}